@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Contoso Ltd.<br />
    London<br />
    <abbr title="Phone">P:</abbr>
    +44 777 555 555 0
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@contoso.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@contoso.com</a>
</address>