@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso Services <br />Azure API Test</h1>
    <p class="lead">Please access the API page to test the value API.</p>
    <p><a href="../API" class="btn btn-primary btn-lg">Go to the API &raquo;</a></p>
</div>
